@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

@import "colors.css";
@import "animations/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Cabinet Grotesk Variable";
    src: url("../../public/assets/fonts/cabinet-grotesk-variable.ttf");
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .border-custom {
    @apply border-dashed border-gray-borders;
  }
  .border-floating {
    @apply border-custom absolute inset-x-0;
  }
  .gradient-text {
    @apply bg-gradient-to-r from-primary-dark to-primary-medium bg-clip-text text-transparent;
  }
}
