@import "colors.css";
@import "animations/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .markdown *:not(path, .border-docs, .revert) {
    all: revert;
  }
}

@layer base {
  @font-face {
    font-family: "Cabinet Grotesk Variable";
    src: url("../../public/assets/fonts/cabinet-grotesk-variable.ttf");
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .border-custom {
    @apply border-dashed border-gray-borders;
  }
  .border-floating {
    @apply border-custom absolute inset-x-0;
  }
  .gradient-text {
    @apply bg-gradient-to-r from-primary-dark to-primary-medium bg-clip-text text-transparent;
  }
}

.border-docs {
  border-top: 1px solid var(--gray-borders);
}
